.spot-index {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 40px;
    font-family: "Calibre", Helvetica, Arial, Helvetica, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    color: #333333;
    background: transparent;
    box-sizing: border-box;
}

.spot-index-item {
    width: 25%;
    padding: 0px 10px;
}

.spot-index-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.frame {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(14, 13, 13, 0.1);
    border-radius: 5px;
}

.figure-caption {
    padding: 0px 12px 12px 12px;
    font-family: "Calibre";
}

.frame:hover {
    background-color: rgb(236, 236, 236);
}

.index-item-copy {
    margin-bottom: 15px;
    margin-top: 10px;
}

.index-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
        line-clamp: 2;
    -webkit-box-orient: vertical;

    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}

.welcome {
    padding-top: 100px;
    text-align: center;
    color: #28400C;
    padding-bottom: 50px;
}

.welcome h1 {
    font-size: 64px;
    font-weight: 700;
    padding: 5px;
}

.welcome p {
    font-size: 24px;
    font-weight: 500;
    padding: 7px;
}

