// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-image {
    height: 480px;
    object-fit: cover;
    display: block;
    z-index: 20;
    // padding: 15px;
}

.spot-show-body {
    margin: 15px;
}

// body {
//     height: 100vh;
// }