#errors {
    color: red
}

.nav-bar-splash {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.login-form-container {
    border: 2px solid grey;
    display: flex;
    
    
    width: 200px;
    padding: 20px;
    margin: 20px;
    line-height: 1.6;
    color: rgb(40, 64, 12);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header-link {
    display: flex;
    padding: 10px;
    margin: 10px;
    line-height: 1.6;
    color: rgb(40, 64, 12);
}

.login-signup {
    display: flex;
    padding: 10px;
    margin: 10px;
    line-height: 1.6;
    color: rgb(40, 64, 12);
}

.nav-right {
    padding: 10px;
    margin: 5px;
    line-height: 1.6;
}